# Build
/build
/out
/target

# Gradle
.gradle/
gradle-app.setting
!gradle-wrapper.jar

# IDE
.vscode/
.idea/
*.iml

src/main/resources/application.properties
# Logs
*.log

# System
.DS_Store
Thumbs.db

.env
application-local.properties
application-secret.properties